@mixin clearfix {
  &::after{
    content: "";
    display: table;
    clear: both;
  }
}

// MEDIA QUERY MANAGER
/*

0 - 600px       -> phone;
600px - 900px   -> tablet portrait
900px - 1200px  -> tablet landscape
1200px - 1800px -> is where our normal styles applies
1800px +        -> big screen
---------------------------------------------------------
$breakpoint arguement choices:
- phone
- tabPort
- tabLand
- bigDekstop
*/

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5em) {
      @content;
    }
  };
  @if $breakpoint == tabPort {
    @media (max-width: 56.25em) {
      @content;
    }
  };
  @if $breakpoint == tabLand {
    @media (max-width: 75em) {
      @content;
    }
  };
  @if $breakpoint == bigDekstop {
    @media (min-width: 1800px) {
      @content;
    }
  }
}