*{
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html{
  font-size: 62.5%;
  
  // @include respond(phone) {
  //   font-size: 50%;
  // }
  @include respond(tabLand) {
    font-size: 56.25%; //1rem = 9px
  }
  @include respond(tabPort) {
    font-size: 50%; //1rem = 8px
  }
  @include respond(bigDekstop) {
    font-size: 75%; //1rem = 12px
  }
}

body{
  line-height: 1.7;
  font-family: 'lato', sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  color: $color-grey-dark;
  padding: 3rem;
  box-sizing: border-box;

  @include respond(tabPort) {
    padding: 0;
  }

}